---
layout: archive
title:
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse %}
{% for category in site.publication_category %}
  {% assign items = pubs | where: "category", category[0] %}
  {% if items.size > 0 %}
    <h2 class="pub-section">{{ category[1].title }}</h2>
    <ul class="pub-list">
      {% for post in items %}
        {% include publication-item.html %}
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
