{% capture me %}<strong>{{ site.author.name }}</strong>{% endcapture %}
{% assign authors = post.authors | replace: site.author.name, me %}

<li class="pub">
  <p class="pub__title">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank" rel="noopener">{{ post.title }}</a>
    {% else %}
      {{ post.title }}
    {% endif %}
  </p>
  <p class="pub__authors">{{ authors }}</p>
  <p class="pub__meta">
    <span class="pub__venue">{{ post.venue }}</span>
    <span class="pub__year">{{ post.date | date: "%Y" }}</span>
    {% if post.paperurl %}
      <a class="pub__link" href="{{ post.paperurl }}" target="_blank" rel="noopener">Paper</a>
    {% endif %}
  </p>
</li>
